<h1>Connection Info</h1>

<table class="table">

	<tr><td>Date</td><td>{{ formatDate(connection.date) }}</td></tr>
	<tr><td>ID</td><td>{{ connection.id }}</td></tr>
	<tr>
		<td>IP</td>
		<td>{{ connection.ip }}
			<span ng-show="connection.asn">
				<br><img src="img/flags/{{ connection.country.toLowerCase() }}.png"> {{ connection.countryname }} - <a href="http://bgp.he.net/AS{{ connection.asn }}" target="_blank">AS{{ connection.asn }}</a> - {{ connection.ipblock }}
			</span>
		</td>
	</tr>
	<tr><td>Username</td><td>{{ connection.user }}</td></tr>
	<tr><td>Password</td><td>{{ connection.pass }}</td></tr>

</table>

<div ng-show="connection.text_combined != ''">
	<h2>Session text</h2>

	<div class="well well-sm code">
		<div style="font-size: 0.7em;">Session Text does not include non-ascii characters</div>
		<div class="code-line" ng-class="{ isinput: l.is_input }" ng-repeat="l in lines track by $index">{{ l.text }}</div>
	</div>
</div>


<div ng-show="connection.urls.length > 0">
	<h2>URLs gathared</h2>

	<table class="table">

		<tr>
			<th>Url</th>
			<th>First Seen</th>
			<th>Sample</th>
		</tr>
		<tr ng-repeat="url in connection.urls">
			<td><a href="{{ '#/url/' + encurl(url.url) }}">{{ url.url }}</a></td>
			<td>{{ formatDate(url.date) }}</td>
			<td><a href="{{ '#/sample/' + url.sample }}">{{ short(url.sample, 16) }}</a></td>
		</tr>

	</table>
</div>