<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

<script>

function extractHash() {
	var table  = {};
	var values = window.location.hash.substr(1);
	values = values.split("&");
	for (var i = 0; i < values.length; i++) {
		var tuple = values[i].split("=");
		var name  = tuple[0];
		var value = tuple.length > 1 ? tuple[1] : null;
		table[name] = value;
	}
	return table;
}

function formatDate(date) {
	d = new Date(date * 1000);
	return d.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
}

function formatDateTime(date) {
	if (date == null) return "";
	d = new Date(date * 1000);
	return d.getDate() + "." + d.getMonth() + " " + d.toTimeString().replace(/.*(\d{2}:\d{2}):\d{2}.*/, "$1");
}

angular.module('stats', ["chart.js"])
.controller('histController2', function($scope, $http) {
	$scope.series  = [];
	$scope.labels  = [];
	$scope.data    = [];
	$scope.colors  = [];
	
	$scope.samples = {};
	
	var now = new Date().getTime() / 1000;
	$scope.delta   = 3600 * config["delta"];
	$scope.from    = now - $scope.delta * 40;
	$scope.to      = now;
	
	// Normalize (See backend.php)
	// $to    = $to - $to % $delta + $delta;
	// $from  = $from - $from % $delta;
	$scope.to   = $scope.to - $scope.to % $scope.delta + $scope.delta;
	$scope.from = $scope.from - $scope.from % $scope.delta;
	
	$scope.makeLables = function() {
		var date  = $scope.from;
		var count = Math.floor(($scope.to - $scope.from) / $scope.delta) + 1;
		
		for (var i = 0; i < count; i++) {
			$scope.labels.push(formatDateTime(date));
			date += $scope.delta;
		}
	};
	
	$scope.loadSample = function(sample) {
		console.log("Load " + sample);
	
		var url = "backend.php?cmd=gethistory&sample=" + sample +
		"&from="  + $scope.from +
		"&to="    + $scope.to +
		"&delta=" + $scope.delta;

		//var r = {"from": $scope.from,"to":$scope.to,"delta":$scope.delta,"data":[0,3,3,2,0,0,0,0,0,0,0,2,1,1,1,2,2,2,1,1,3,3,2,0,0,0]};

		$http.get(url).then(function (httpResult) {
			var r = httpResult.data;
		
			if (r.from != $scope.from) {
				console.log("ERROR: r.from != $scope.from: " + r.from);
			}
			
			$scope.samples[sample].data   = r.data;
			$scope.samples[sample].active = true;
		
			$scope.samplesChanged();
		});
	};
	
	$scope.toggle = function(sample) {
		console.log("toggle " + sample.sha256);
		
		if (sample.active) {
			sample.active = false;
		} else {
			if (sample.data != null) {
				sample.active = true;
			} else {
				$scope.loadSample(sample.sha256);
			}
		}
		
		$scope.samplesChanged();
	};
	
	$scope.samplesChanged = function(newVal, oldVal) {
		console.log("samplesActive changed!");
		
		var newData   = [];
		var newSeries = [];
		var newColors = [];
		
		for (var sha256 in $scope.samples) {
			var sample = $scope.samples[sha256];
			
			if (sample.active) {
				newData.push(sample.data);
				newSeries.push(sample.result);
				newColors.push(sample.lcol);
				console.log(sample);
			}			
		}
			
		$scope.data   = newData;
		$scope.series = newSeries;
		$scope.colors = newColors;
	};
	
	var since = 0;
        $http.get("backend.php?cmd=getsamplestats&since=" + since).then(function (httpResult) {
		var data = httpResult.data;

		for (var i = 0; i < data.length; i++) {
			var s = data[i];
			s.active = false;
			s.data   = null;
			s.lcol   = "#" + s.sha256.substr(0, 6);
			$scope.samples[s.sha256] = s;
		}

		$scope.makeLables();
	
		$scope.toggle($scope.samples[data[1].sha256]);
		$scope.toggle($scope.samples[data[2].sha256]);
        });	
});

var config = extractHash();

if ("delta" in config) {
	var delta = parseInt(config["delta"]);
	config["delta"] = delta != NaN ? delta : 6;
} else {
	config["delta"] = 6;
}

</script>
</head>
<body ng-app="stats">
<div class="container">
	<h1>Python telnet honeypot statistics</h1>
	<p><a href="/">Back to index</a>Visit us at <code>telnet://nack.duckdns.org</code></p>

	<div class="row" ng-controller="histController2">
		<div class="col-md-12 col-xs-12">
			<h3>Detailed Sample History</h3>
			<canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="{animation : false}" width="1140" height="285" chart-colors="colors"></canvas>
		</div>
		<div class="col-md-12 col-xs-12">
			<table class="table table-condensed table-hover" style="font-size: 10pt;">
				<tr><th></th><th>Count</th><th>Name</th><th>AV Result</th><th>SHA256</th><th class="hidden-xs">Size</th><th>Last seen</th></tr>
				<tr ng-repeat="s in samples" ng-click="toggle(s)" ng-class="{ info : s.active }" style="cursor: pointer">
					<td style="color: {{ s.lcol }}"><span class="glyphicon glyphicon-stop"></td>
					<td>{{ s.count }}</td>
					<td>{{ s.name }}</td>
					<td>{{ s.result }}</td>
					<td class="hidden-xs"><a target="_blank" href="https://www.virustotal.com/latest-scan/{{s.sha256}}">{{ s.sha256.substr(0,32) + "..." }}</a></td>
					<td class="visible-xs"><a target="_blank" href="https://www.virustotal.com/latest-scan/{{s.sha256}}">{{ s.sha256.substr(0,6) + "..." }}</a></td>
					<td class="hidden-xs">{{ s.length }}</td>
					<td>{{ formatDate(s.lastseen) }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- Footer -->
<div class="container-fluid" style="background-color: #eee; border-top: 1px solid #ddd;">
	<div style="padding: 0; margin: 0; line-height: 3;">
		Source Code: <a href="https://github.com/Phype/telnet-iot-honeypot" target="_blank">https://github.com/Phype/telnet-iot-honeypot</a>
		
		<span style="unicode-bidi: bidi-override; direction: rtl;" class="pull-right">moc [TOD] liamg [TA] rentiej.p :tcatnoC</span>
	</div>
</div>

</body>
</html>
