<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<script type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="apiurl.js"></script>

<script>

var base = {
	"conns"   : [],
	"urls"    : [],
	"samples" : []
};

angular.module('stats', ["chart.js"])
.controller('statController', function($scope, $http) {
        $scope.samples     = [];
        $scope.activeIndex = -1;

        $scope.formatDate     = formatDate;
        $scope.formatDateTime = formatDateTime;
        
        $scope.processData = function(data) {
                var list   = [];
                var count  = 0;
                var others = 0;
                var end    = Math.min(10, data.length);

                for (var i = 0; i < data.length; i++) {
                        count += data[i]["count"];
                }

                for (var i = 0; i < data.length; i++) {
                        if (i <= end) {
                                var x = data[i]["sha256"].substr(0,2);
                                data[i].color = "#dd" + x + "" + x; 
                                list.push(data[i]);
                        } else {
                                others += data[i]["count"];
                        }
                }

                list.push({ "name": "Other", "count": others, "color": "#dddddd" });
                $scope.samples = list;
        };

	var since = time() - 24 * 3600;
	$http.get(api + "/samples/statistics").then(function (httpResult) {
		$scope.processData(httpResult.data);
		
        $scope.formatDate     = formatDate;
        $scope.formatDateTime = formatDateTime;
	
		$scope.labels = $scope.samples.map(function (s) {return s["name"]});
		$scope.data   = $scope.samples.map(function (s) {return s["count"]});
		$scope.colors = $scope.samples.map(function (s) {return s["color"]});
	});

}).controller('histController', function($scope, $http) {
	$scope.formatDate     = formatDate;
	$scope.formatDateTime = formatDateTime;
	
	$scope.series  = ["Connection"];
	$scope.labels  = [];
	$scope.data    = [];
	
	$http.get(api + "/history").then(function (httpResult) {
		$scope.data   = httpResult.data.data;
		$scope.labels = [];
		
		var last  = -1;
		var delta = httpResult.data.delta;
		var now   = httpResult.data.start;
		for (var i = 0; i < httpResult.data.data.length; i++) {
			var d = new Date(now * 1000);
			if (last != d.getDay()) {
				$scope.labels[i] = formatDay(now);
				last = d.getDay();
			} else {
				$scope.labels[i] = "";
			}
			now += delta;
		}
		
		console.log($scope.data);
	});
}).controller('basicController', function($scope, $http) {
        $scope.formatDate     = formatDate;
        $scope.formatDateTime = formatDateTime;
        
        $scope.conns   = "";
        $scope.urls    = ""
        $scope.samples = "";

        $scope.latestSamples = [];
        $scope.latestUrls    = [];
        $scope.latestConns   = [];
        
		$http.get(api + "/info").then(function (httpResult) {
			$scope.conns   = httpResult.data.connections;
			$scope.urls    = httpResult.data.urls;
			$scope.samples = httpResult.data.samples;
		});
});
</script>
</head>
<body ng-app="stats">
<div class="container">
        <h1>Python telnet honeypot statistics</h1>
        <div class="row">
                <div class="col-md-6 col-xs-12" ng-controller="basicController">
                        <h3>Basic Statistics</h3>
                        <p>
                                Samples and urls are collected when an URL is provided in
                                the telnet Session by typing something like
                                <code>wget http://1.2.3.4/malware.bin</code>. The file
                                will be downloaded if the URL is not already known and
                                hashed, so that duplicates can be identified. All files
                                are also uploaded to <a href="https://virustotal.com" target="_blank">virustotal.com</a>.
                        </p>
                        <table class="table">
                                <tr><td>Total Connections:</td><td>{{ conns }}</td></tr>
                                <tr><td>Total Urls:</td><td>{{ urls }}</td></tr>
                                <tr><td>Total Samples:</td><td>{{ samples }}</td></tr>
                                <tr><td>Detailed Stats:</td><td><a href="detail.html">click here</a></td></tr>
                        </table>
                </div>
                <div class="col-md-6 col-xs-12" ng-controller="histController">
                        <h3>Connection history</h3>
                        <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"></canvas> 
                        <p>
                                Succesful connections to the telnet server. A successful
                                connection is defined by logging in with username and password.
                                No further execution of commands is needed.
                        </p>
                </div>
        </div>
        <div class="row" ng-controller="statController">
                <div class="col-md-12 col-xs-12">
                        <h3>Sample distribution by connection count (last 24h)</h3>
                        <p>
                                Counting every connection which tried to download a sample.
                                Connections downloading multiple samples will be counted
                                multiple times. Also may not display the malware distribution
                                by sample correctly, because many connections will actually download
                                nothing because they cannot provide a binary with matching
                                processor architecture.
                        </p>
                </div>
                <div class="col-md-4 col-xs-12">
                        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors">
                        </canvas> 
                </div>
                <div class="col-md-8 col-xs-12">
                        <table class="table table-condensed" style="font-size: 10pt;">
                                <tr><th>Count</th><th>Name</th><th>SHA256</th><th class="hidden-xs">Size</th><th>Last seen</th></tr>
                                <tr ng-repeat="s in samples">
                                        <td>{{ s.count }}</td>
                                        <td>{{ s.name }}</td>
                                        <td class="hidden-xs"><a target="_blank" href="https://www.virustotal.com/latest-scan/{{s.sha256}}">{{ s.sha256.substr(0,48) + "..." }}</a></td>
                                        <td class="visible-xs"><a target="_blank" href="https://www.virustotal.com/latest-scan/{{s.sha256}}">{{ s.sha256.substr(0,6) + "..." }}</a></td>
                                        <td class="hidden-xs">{{ s.length }}</td>
                                        <td>{{ formatDate(s.lastseen) }}</td>
                                </tr>
                        </table>
                </div>
        </div>
        <div class="row" ng-controller="basicController">
                <div class="col-md-7 col-xs-12">
                        <h3>Latest Samples</h3>
                        <table class="table table-condensed" style="font-size: 10pt;">
                                <tr><th>Time</th><th>Name</th><th>SHA256</th><th>Size</th></tr>
                                <tr ng-repeat="s in latestSamples">
                                        <td class="visible-xs">{{ formatDate(s.date) }}</td>
                                        <td class="hidden-xs">{{ formatDate(s.date) }}</td>
                                        <td>{{ s.name }}</td>
                                        <td class="hidden-xs"><a target="_blank" href="https://www.virustotal.com/latest-scan/{{s.sha256}}">{{ s.sha256.substr(0,48) + "..." }}</a></td>
                                        <td class="visible-xs"><a target="_blank" href="https://www.virustotal.com/latest-scan/{{s.sha256}}">{{ s.sha256.substr(0,6) + "..." }}</a></td>
                                        <td>{{ s.length }}</td>
                                </tr>
                        </table>
                </div>

                <div class="col-md-5 col-xs-12">
                        <h3>Latest Connections</h3>
                        <table class="table table-condensed" style="font-size: 10pt;">
                                <tr><th>Time</th><th>IP</th><th>Username</th><th>Password</th></tr>
                                <tr ng-repeat="s in latestConns">
                                        <td class="visible-xs">{{ formatDate(s.date) }}</td>
                                        <td class="hidden-xs">{{ formatDate(s.date) }}</td>
                                        <td>{{ s.ip }}</td>
                                        <td>{{ s.user }}</td>
                                        <td>{{ s.pass }}</td>
                                </tr>
                        </table>
                </div>

                <!--
                <div class="col-md-5 col-xs-12">
                        <h3>Latest URLS</h3>
                        <table class="table table-condensed" style="font-size: 10pt;">
                                <tr><th>Date</th><th>URL</th></tr>
                                <tr ng-repeat="s in latestUrls">
                                        <td>{{ formatDate(s.date) }}</td>
                                        <td>{{ s.url }}</td>
                                </tr>
                        </table>
                </div>
                -->

        </div>
</div>

<!-- Footer -->
<div class="container-fluid" style="background-color: #eee; border-top: 1px solid #ddd;">
        <div style="padding: 0; margin: 0; line-height: 3;">
                Source Code: <a href="https://github.com/Phype/telnet-iot-honeypot" target="_blank">https://github.com/Phype/telnet-iot-honeypot</a>

                <span style="unicode-bidi: bidi-override; direction: rtl;" class="pull-right">moc [TOD] liamg [TA] rentiej.p :tcatnoC</span>
        </div>
</div>
</div>
</body>
</html>
